@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
:root {
  font-size: 62.5%;
  --text-color: #eeeeee;
  --dark-color: #222831;
  --grey-middle: #393e46;
  --neon-color: #32e0c4;
}
body,
html {
  font-family: "Roboto", sans-serif;
  background: var(--grey-middle);
  width: 100vw;
  height: 100vh;
  display: grid;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.container {
  position: relative;
  text-align: center;
  background: var(--dark-color);
  width: 40rem;
  height: 60rem;
  border-radius: 0.5rem;
  overflow: hidden;
}

.box h4 {
  color: var(--neon-color);
  font-size: 3rem;
  margin-top: 9.4rem;
}
.box h5 {
  font-size: 1.6rem;
  color: var(--text-color);
  letter-spacing: 0.15rem;
  margin-bottom: 7rem;
}
.box input[type="text"],
.box input[type="password"] {
  display: block;
  margin: 2rem auto;
  background: var(--grey-middle);
  border: 0;
  outline: 0;
  border-radius: 0.5rem;
  padding: 1.4rem 1rem;
  width: 32rem;
  color: var(--text-color);
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
::-webkit-input-placeholder {
  color: var(--neon-color);
}
.box input[type="text"]:focus,
.box input[type="password"]:focus {
  outline: 0.1px solid var(--neon-color);
}
a {
  color: var(--neon-color);
  font-size: 1.4rem;
  text-decoration: none;
}
.btnLogin {
  border: 0;
  color: var(--grey-middle);
  background: var(--neon-color);
  border-radius: 0.7rem;
  width: 32rem;
  height: 4.9rem;
  font-size: 1.6rem;
  transition: 0.3s;
  cursor: pointer;
  margin-top: 2rem;
}

.btnLogin:hover {
  background: var(--grey-middle);
  color: var(--neon-color);
}
.forgetPass {
  position: relative;
  float: right;
  right: 5rem;
}
.border-top {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 0.5rem;
  background: linear-gradient(to right, #0c356a, #40f8ff);
  animation: animate-border-top 2s linear infinite;
  box-shadow: 0 0 0.5rem #4e4feb;
}
@keyframes animate-border-top {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}
.border-right {
  position: absolute;
  top: 0;
  right: 0;
  width: 0.5rem;
  height: 100%;
  background: linear-gradient(to bottom, #0c356a, #40f8ff);
  animation: animate-border-right 2s linear infinite;
  animation-delay: 1s;
  box-shadow: 0 0 0.5rem #4e4feb;
}
@keyframes animate-border-right {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(100%);
  }
}
.border-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.5rem;
  background: linear-gradient(to left, #0c356a, #40f8ff);
  animation: animate-border-bottom 2s linear infinite;
  box-shadow: 0 0 0.5rem #4e4feb;
}
@keyframes animate-border-bottom {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
.border-left {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0.5rem;
  height: 100%;
  background: linear-gradient(to top, #0c356a, #40f8ff);
  animation: animate-border-left 2s linear infinite;
  animation-delay: 1s;
  box-shadow: 0 0 0.5rem #4e4feb;
}
@keyframes animate-border-left {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(-100%);
  }
}
.redirectLink {
  position: absolute;
  top: 3rem;
  right: 3rem;
  padding: 2rem;
  z-index: 2000;
  border-radius: 1rem;
  background: var(--dark-color);
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.redirectLink:hover {
  background-color: var(--neon-color);
  color: var(--dark-color);
}
@media (max-width: 776px) {
  .container {
    position: relative;
    text-align: center;
    background: var(--dark-color);
    width: 40rem;
    height: 60rem;
    border-radius: 0.5rem;
    overflow: hidden;
  }
  .redirectLink {
    display: none;
  }
}
